body {
    background-color: #f8f9fa;
}

header,
footer {
    background-color: #2f5d50 !important;
}

.btn-primary {
    background-color: #b7794a;
    border: none;
}

.btn-primary:hover {
    background-color: #a4683f;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}